# Dependencies
node_modules/

# Environment
.env
.env.local

# Keep templates
!.env.codespaces

# Logs
*.log
npm-debug.log*

# Database
pgdata/

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
